@charset "UTF-8";
/**
Верстать я особо не стал.
Не особо я верстун..
Блок с табами-переключалками откуда-то скоммуниздил.
 */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  animation: fake 1s infinite;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap #main {
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  min-height: 400px;
  width: 70%;
  height: 70%;
}
.wrap #main.show {
  display: flex;
}
.wrap #main .col {
  display: flex;
  width: 49%;
  flex-direction: column;
}
.wrap #main .col .choice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
.wrap #main .col .choice h3 {
  display: inline-block;
  margin-right: 50px;
}
.wrap #main .col .choice label {
  margin-left: 25px;
}
.wrap #main .col#result {
  margin: 20px;
  width: 100%;
  border: 1px solid #ccc;
}
.wrap #main .col#result .state {
  position: absolute;
  left: -10000px;
}
.wrap #main .col#result .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap #main .col#result .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.wrap #main .col#result .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.wrap #main .col#result .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.wrap #main .col#result .tab:hover {
  background-color: #fff;
}
.wrap #main .col#result #tab-one:checked ~ .tabs #tab-one-label,
.wrap #main .col#result #tab-four:checked ~ .tabs #tab-four-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}
.wrap #main .col#result #tab-one:checked ~ .tabs #tab-one-panel,
.wrap #main .col#result #tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}
@media (max-width: 600px) {
  .wrap #main .col#result .flex-tabs {
    flex-direction: column;
  }
  .wrap #main .col#result .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .wrap #main .col#result .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .wrap #main .col#result .flex-tabs #tab-one-label {
    order: 1;
  }
  .wrap #main .col#result .flex-tabs #tab-four-label {
    order: 7;
  }
  .wrap #main .col#result .flex-tabs #tab-one-panel {
    order: 2;
  }
  .wrap #main .col#result .flex-tabs #tab-four-panel {
    order: 8;
  }
  .wrap #main .col#result #tab-one:checked ~ .tabs #tab-one-label,
.wrap #main .col#result #tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }
  .wrap #main .col#result #tab-one:checked ~ .tabs #tab-one-panel,
.wrap #main .col#result #tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}

/*# sourceMappingURL=styles.css.map */
