/**
Верстать я особо не стал.
Не особо я верстун..
Блок с табами-переключалками откуда-то скоммуниздил.
 */


@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #main {
    align-items: center;
    justify-content: space-between;

    min-width: 400px;
    min-height: 400px;
    width: 70%;
    height: 70%;

    &.show {
      display: flex;
    }

    .col {

      display: flex;
      width: 49%;
      flex-direction: column;

      .choice {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;

        h3 {
          display: inline-block;
          margin-right: 50px;
        }

        label {
          margin-left: 25px;
        }
      }

      &#result {
        margin: 20px;
        width: 100%;
        border: 1px solid #ccc;

        .state {
          position: absolute;
          left: -10000px;
        }

        .flex-tabs {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .tab {
            flex-grow: 1;
            max-height: 40px;
          }

          .panel {
            background-color: #fff;
            padding: 20px;
            min-height: 300px;
            display: none;
            width: 100%;
            flex-basis: auto;
          }
        }

        .tab {
          display: inline-block;
          padding: 10px;
          vertical-align: top;
          background-color: #eee;
          cursor: hand;
          cursor: pointer;
          border-left: 10px solid #ccc;

          &:hover {
            background-color: #fff;
          }
        }

        #tab-one:checked ~ .tabs #tab-one-label,
        #tab-four:checked ~ .tabs #tab-four-label {
          background-color: #fff;
          cursor: default;
          border-left-color: #69be28;
        }

        #tab-one:checked ~ .tabs #tab-one-panel,
        #tab-four:checked ~ .tabs #tab-four-panel {
          display: block;
        }

        @media (max-width: 600px) {
          .flex-tabs {
            flex-direction: column;

            .tab {
              background: #fff;
              border-bottom: 1px solid #ccc;

              &:last-of-type {
                border-bottom: none;
              }
            }

            #tab-one-label {
              order: 1;
            }

            #tab-four-label {
              order: 7;
            }
          ;

            #tab-one-panel {
              order: 2;
            }

            #tab-four-panel {
              order: 8;
            }
          }

          #tab-one:checked ~ .tabs #tab-one-label,
          #tab-four:checked ~ .tabs #tab-four-label {
            border-bottom: none;
          }

          #tab-one:checked ~ .tabs #tab-one-panel,
          #tab-four:checked ~ .tabs #tab-four-panel {
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }


  }
}


